<mat-toolbar color="primary">
  <div >
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">NG Fitness</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout class="navigation-items" fxLayoutGap="10px">
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/training">Training</a></li>
      <li><a routerLink="/logout" style="cursor: pointer">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
